<div class="col-md-3 ad"></div>
<div class="image col-md-6 container">
    <!--<img src = "http://media.vocativ.com/photos/2015/04/Putin-Memes-0091985616383.jpg">-->
    <!--<img src = "http://images.pocketgamer.co.uk/FCKEditorFiles//Tiny-Wings-clone.jpg">-->
    <div class="image-title row"> </div>
    <img class="row" id="current-meme" src="<%= @meme.image.url %>">
    <div class="image-rating row"></div>
</div>
<div class="col-md-3 ad"></div>
